@theme {
  --animate-collapsible-down: collapsible-down 0.2s ease-in-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-in-out;
  --animate-arrow-left: arrow-left 1s ease-in-out infinite;
  --animate-arrow-right: arrow-right 1s ease-in-out infinite;
  --animate-slow-spin: spin 4s linear infinite;
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes arrow-left {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-2px);
    }
  }

  @keyframes arrow-right {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(2px);
    }
  }
}
