@layer components {
  .dot-badge {
    @apply aspect-square rounded-md align-middle bg-center bg-no-repeat w-2 h-2 shadow-sm inline-block;
    background-image: radial-gradient(
      circle at 35% 30%,
      oklch(1 0 0 / calc(var(--depth) * 0.5)),
      #0000
    );
  }

  .bell-button {
    &:hover svg {
      animation: bell-ring 1s both;
    }
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-y-center {
    @apply flex items-center;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .outline-box {
    @apply outline-border relative cursor-pointer rounded-md p-1 outline-1;
  }

  .outline-box::after {
    @apply absolute left-1/2 top-1/2 z-20 h-0 w-px rounded-md opacity-0 outline-1 outline-transparent transition-all duration-300 content-[""];
  }

  /* .outline-box.outline-box-active, */
  .group[data-state="checked"] .outline-box {
    @apply outline-primary outline-1;
  }

  /* .outline-box.outline-box-active::after, */
  .group[data-state="checked"] .outline-box::after {
    display: none;
  }

  /* .outline-box:not(.outline-box-active):hover::after, */
  .group:not([data-state="checked"]) .outline-box:hover::after {
    @apply outline-primary left-0 top-0 h-full w-full p-1 opacity-100;
  }

  .no-scrollbar {
    @apply [-ms-overflow-style:none] [scrollbar-width:none];

    &::-webkit-scrollbar {
      @apply hidden;
    }
  }
}
